/*Official note from JavaFX:*/
/*It is possible to use the JavaFX class name as a type selector, however, such use is not recommended. For example, it is possible to specify styles for a ToggleButton using the syntax "ToggleButton { ... }". Such usage is not recommended because the name used to match the type selector is the actual concrete class name used in the JavaFX program. This class name can change in the case of subclassing. If the application were to subclass the ToggleButton class, these styles would no longer apply.
*/

/*TabPane,
ListView,
TableView,
TreeTableView,
TreeView,
FlowPane,
VBox,
HBox,
Pane,
.hbox,
.vbox,*/
BrainStormPane,
    /*ControllableBrainStormPane,*/
NodePane /*TextField,
.scroll-pane,
.scroll-pane .content,*/
    /*ScrollPane*/
{
    /*-fx-background-color: transparent;*/
    -fx-background-color: #000000;
    /*-fx-background-color: blue;*/
    /*-fx-border-color: blue;*/
}

/*otherwise when the BrainStormPane is focused (and not any particular textfield orr button), there's an annoying blue (actually background) around the pane)*/
.scroll-pane:focused {
    -fx-background-color: black;
}

.nodeTextField {
    -fx-background-color: #000000;
}

.nodeTextField:focused {
    -fx-background-color: #000000;
}


MDialog {
    -fx-background-color: transparent;
}


Tab,
Button,
.ResourceButton {
    -fx-background-color: #000033;
    /*-fx-text-fill: blue;*/
    /*-fx-fill: blue;*/
}


/*Tab:hover,
Button:hover,*/
.ResourceButton:hover {
    -fx-background-color: #000066;
    -fx-text-fill: white;
}

.ConfirmButton {
    -fx-background-color: blue;
}


/*even after trying to export default Nodes to darkModena.css, I couldn't find the default way to do this there*/
Text {
    -fx-fill: lightgray;
}

.CANNOT_EDIT_CHILDREN {
    -fx-text-fill: #7e0000;
    -fx-fill: #7e0000;
}

.CAN_EDIT_CHILDREN {
    -fx-text-fill: #5d2346;
    -fx-fill: #5d2346;
}

.EDITABLE_IN_PLACE {
    -fx-text-fill: #0f005a;
    -fx-fill: #0f005a;
}

.MOVABLE {
    -fx-text-fill: #0795c3;
    -fx-fill: #0795c3;
}

.BoltPaneTextArea {
    -fx-border-color: transparent;
    /*<<*/
}

/*.BrainStormSettingsPane {*/
/*    -fx-background-color: #000000;*/
/*}*/

BrainStormPane {
    /*-fx-background-color: #000000;*/
    /*-fx-padding: 0, 20, 0, 10; !*top, right, bottom, left*!*/
}


.tag {
    -fx-text-fill: #0746c3;
    -fx-fill: #0746c3; /*since I use text now not label, this is the one that matters*/
}

.tag:hover {
    -fx-text-fill: #5d89e7;
    -fx-fill: #5d89e7; /*since I use text now not label, this is the one that matters*/
}

.datetag {
    -fx-text-fill: orange;
    -fx-fill: orange; /*since I use text now not label, this is the one that matters*/
}

.flowTypeTag {
    -fx-text-fill: purple;
    -fx-fill: purple; /*since I use text now not label, this is the one that matters*/
}

.specialTag {
    -fx-font-weight: bold;
}

.redText {
    -fx-text-fill: red;
    -fx-fill: red;
}

.greenText {
    -fx-text-fill: green;
    -fx-fill: green;
}

.yellowText {
    -fx-text-fill: yellow;
    -fx-fill: yellow;
}

.blueText {
    -fx-text-fill: blue;
    -fx-fill: blue;
}

.whiteText {
    -fx-text-fill: white;
    -fx-fill: white;
}


.darkGreyText {
    -fx-text-fill: darkgrey;
    -fx-fill: darkgrey;
}


.greenBackground {
    -fx-background-color: green;
}

.greenBackground:selected {
    -fx-background-color: green;
}

.greenBackground:focused {
    -fx-background-color: green;
}